/* início da formatação do fundo da página */
    * {
        padding: 0;
        margin: 0 auto;
    }
/* fim da formatação do fundo da página */




/* início da formatação do header */
    .cabeçalho {
        background-color: lightpink;
        padding: 0.01%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    @font-face {
        font-family:"Pamit";
        src: url("../fontes/Pamit.otf");
    }

    .logo {
        width: 60%;
        padding: 5px;
        font-family:"Pamit";
    }

    .logo h1 {
        font-weight: bolder;
        font-size: 3em;
    }

    .logo a {
        text-decoration: none;
        color: white;
        text-shadow: 2px 1px purple;
    }

    .logo a:hover {
        color: purple;
        text-shadow: 2px 1px white;
    }

    .navegação {
        padding: 5px;
        font-family:"Pamit";
    }

    .navegação a {
        color: rgb(207, 35, 141);
    }

    .navegação a:hover {
        color: rgb(53, 119, 206);
    }

    
/* fim da formatação do header */




/* início da formatação da página inicial */
    .section-apresentação {
        background-image: url("../imagens/pessoa-imagem-inicial.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100%;
        
    }
/* fim da formatação da página inicial */