/* início da formatação do fundo da página */
    * {
        padding: 0;
        margin: 0 auto;
    }
/* fim da formatação do fundo da página */

/* início da formatação do header */
    header {
        background-image: linear-gradient(90deg, lightgreen, rgb(115, 192, 115),rgb(62, 241, 62), green, rgb(4, 88, 4));
        padding: 1%;
    }
/* fim da formatação do header */